.table, th{
  background-color: #7dc0d638;
}

.active{
  background: #7ea0d3 !important;
}

.containerlogin {
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;

}

.form-login {
  border: 10px solid #f1f1f1;
  background-color: #EFEFEF;
}

/*input[type=text] {
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  font-weight: bold;
}*/


.button-login {
  background-color: #5479B8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-login:hover {
  opacity: 0.8;
}


.btn {
  padding: 10px;
}

.span.psw {
  float: right;
  padding-top: 10px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-left: 0;
  margin-bottom: 20px;
  width: 100%;
  align: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    margin-top: 50px;
    text-align: center;
    padding: 17px;
    color: white;
    background: linear-gradient(to right, #134E5E, #71B280);
    border-top: 5px solid #73b079;
}

.cover{
  width: 100%;height: 250px;background: url('../uploads/header.jpg');background-size: cover;
}
.cover .title{
  color: white;position: absolute;left: 100px;top: 60px;font-size: 60px;
}
.cover .search{
  color: white;position: absolute;left: 100px;top: 150px;width: 30%;
}
.cover .find-us{
  color: white;position: absolute;left: 100px;top: 200px;width: 30%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
  .cover{
    width: 100%;height: 100px;background: url('../uploads/header.jpg');background-size: cover;
  }
  .cover .title{
    color: white;position: absolute;left: 20px;top: 20px;font-size: 60px;
  }
  .cover .search{
    display: none;
  }
  .cover .find-us{
    display: none;
  }
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

.panelIconArch{
  height: 30px;
  width: 30px;
  background: #6496cd;
  border-radius: 15%;
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 0px;
  float: left;
  margin: 15px;
  margin-left: 0;
  border: 2px dotted #545b8a;
}

.panelArch{
  background-color: #e8e8e8;
}
.panelArch:nth-of-type(odd){
  background-color: #c9d9f3;
}

.liAbJournal > li {
  padding: 10px 0px;
  border-bottom: solid 1px #ccc;
  list-style: none;
}
.liAbJournal > li:last-child {
  border-bottom: none;
}

.liAbJournal > li > a{
  color: #59a5c5;
  font-weight: bold;
  font-size: 16px;
}

.liAbJournal > li > a > .fa {
  font-size: 22px !important;
  margin-right: 10px;
}

.topHeader{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 999;
  background: rgba(255,255,255,0);
}